<hr>
<!-- <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://NotificationBoardsample.com/"> NotificationBoard.com</a>
  </div> -->
  <div class="p-grid p-jc-between">
    <div class="p-col-4">
        <div class="box"></div>
    </div>
    <div class="p-col-7">
        <div class="box">
          Copyright © 2020  <a href="{{baseURL}}"> NotificationBoard.com  </a> &nbsp; All Rights Reserved.

        </div>
    </div>
    <div class="p-col-1">
        <div class="box"></div>
    </div>
</div>