<p-panel>
    <div class="p-fluid">
        <div class="p-field p-grid">
        </div>
        <div class="p-field p-grid p-jc-center">
            <div class="p-col-6 p-md-5">
                <input type="text" pInputText class="p-inputtext-sm" placeholder="First Name">
            </div>
            <div class="p-col-6 p-md-5">
                <input type="text" pInputText class="p-inputtext-sm" placeholder="Last Name">
            </div>
        </div>
        <div class="p-field p-grid p-jc-center">
            <div class="p-col-12 p-md-10">
                <input type="text" pInputText class="p-inputtext-sm" placeholder="Email Address">
            </div>
        </div>
        <div class="p-field p-grid p-jc-center">
            <div class="p-col-12 p-md-10">
                <input type="text" pInputText class="p-inputtext-sm" placeholder="Mobile Number">
            </div>
        </div>
        <div class="p-field p-grid p-jc-center">
            <div class="p-col-12 p-md-10">
                <input type="password" pInputText class="p-inputtext-sm" placeholder="Password">
            </div>
        </div>
        <div class="p-field p-grid p-jc-center">
            <div class="p-col-2 p-md-1">
                <button pButton type="button" label="Sign up" class="p-button-info" (click)="processSignUp()"></button>
            </div>
        </div>
    </div>

</p-panel>