
    <div class="p-fluid">
        <div class="p-field p-grid">
        </div>
        <div class="p-field p-grid p-jc-center">
            <div class="p-col-12 p-md-10">
                <input type="text" [(ngModel)]="model.userName" pInputText class="p-inputtext-sm" placeholder="User Name">
            </div>
            <!-- <div class="p-col-6 p-md-5">
                <input type="text" pInputText class="p-inputtext-sm" placeholder="Last Name">
            </div> -->
        </div>
        <div class="p-field p-grid p-jc-center">
        <div class="p-col-12 p-md-10">
            <input type="password" [(ngModel)]="model.password" pInputText class="p-inputtext-sm" placeholder="Password">
        </div>
    </div>
        <div class="p-field p-grid p-jc-center">
            <div class="p-col-12  p-md-10">
                <input type="text"[(ngModel)]="model.email"  pInputText class="p-inputtext-sm" placeholder="Email Address">
            </div>
        </div>
        <div class="p-field p-grid p-jc-center">
        <div class="p-col-12  p-md-10">
            <input type="text" [(ngModel)]="model.alternateEmail" pInputText class="p-inputtext-sm" placeholder="Alternate Email">
        </div>
    </div>
        <div class="p-field p-grid p-jc-center">
            <div class="p-col-12 p-md-10">
                <input type="text" [(ngModel)]="model.contactNumber" pInputText class="p-inputtext-sm" placeholder="Mobile Number">
            </div>
        </div>

        <div class="p-field p-grid p-jc-center">
            <div class="p-col-12 p-md-10">
                <p-dropdown [options]="userTypes"  [(ngModel)]="model.userType"></p-dropdown>
            </div>
        </div>
       
        <div class="p-field p-grid p-jc-end">
            <div class="p-col-4 p-md-2">
                <button pButton type="button" label="Sign up" class="p-button-info"  styleClass="p-button-sm" (click)="processSignUp()"></button>
            </div>
            <div class="p-col-4 p-md-2">
            <button pButton type="button" label="Close"  class="p-button-info" (click)="closeSignUp()" styleClass="p-button-sm">
            </button>
        </div>
        </div>
    </div>
