<div (keydown.enter)="processLogin()">
    <div class="p-grid  vertical-container">
        <div class="p-col p-as-start">
            <div class="box"></div>
        </div>
    </div>
    <div class="p-grid p-fluid p-jc-center">
        <div *ngIf="isLoginError" class="p-invalid">
            Invalid Username And/or Password
        </div>
        <div *ngIf="submitted && f.username.errors && f.password.errors" class="p-invalid">
            <div *ngIf="f.username.errors.required">Username and Passwords are required
            </div>
        </div>
        <div *ngIf="submitted && f.username.errors && !f.password.errors" class="p-invalid">
            <div *ngIf="f.username.errors.required">Username is required
            </div>
        </div>
        <div *ngIf="submitted && f.password.errors && !f.username.errors" class="p-invalid">
            <div *ngIf="f.password.errors.required">Password is required
            </div>
        </div>
    </div>
    <form [formGroup]="form" (ngSubmit)="processLogin()">
        <div class="p-field p-grid p-jc-center">
            <div class="form-group p-col-8 ">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input type="text" pInputText formControlName="username" class="form-control p-inputtext"
                        (ngModelChange)="onChange()"
                        [ngClass]="{ 'p-invalid': (submitted && f.username.errors) || isLoginError }"
                        placeholder="User Name" />
                </div>
            </div>
        </div>
        <div class="p-field p-grid p-jc-center">
            <div class="form-group p-col-8 ">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                    <input type="password" pInputText formControlName="password" (ngModelChange)="onChange()"
                        placeholder="Password" class="form-control p-inputtext"
                        [ngClass]="{ 'p-invalid': (submitted && f.password.errors) || isLoginError }" />
                </div>
            </div>
        </div>
        <div class="p-field p-grid p-jc-end">
            <div class="p-col-4 p-md-2">
                <button pButton type="button" [disabled]="loading" label="Login" class="p-button-info"  styleClass="p-button-sm" (click)="processLogin()"></button>
            </div>
            <div class="p-col-4 p-md-2">
                <button pButton type="button" label="Close"  class="p-button-info" (click)="closeLogin()" styleClass="p-button-sm">   </button>
            </div>
        </div>
        
    </form>
    
</div>