<p-card>
    <div class="p-d-flex  p-jc-center">
        <div class="p-mb-2 p-mr-2">
            <input type="text" pInputText class="p-inputtext-sm" placeholder="User Name">
        </div>
        <div class="p-mb-2 p-mr-2">
            <input type="password" pInputText class="p-inputtext-sm" placeholder="Password">
            
        </div>
        <div class="p-mb-2 p-mr-2">
            <button pButton type="button" label="Login" class="p-button-info" (click)="processLogin()"></button>
        </div>
    </div>
</p-card>
