:host ::ng-deep .p-dialog .p-dialog-header {
        border-bottom: 0 none;
        background: #ffffff;
        color: #495057;
        padding: 0.5rem;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        background-color: #2196f3;
      }

:host ::ng-deep  .p-grid {
        display: flex;
        flex-wrap: wrap;
        margin-right: -0.5rem;
        margin-left: -0.5rem;
        margin-top: 0.5rem;
    }

