<p-toast></p-toast>
<div class="backGround p-grid p-jc-between">
    <div class="p-col-3">
        <div class="box">  <img src="assets/Logo.jpg" style="width:20%;display:inline-block;margin-top: 3vh" /></div>
    </div>
    <div class="p-col-6">
        <div class="box">
            <div  class="p-field p-grid p-jc-center">
                <span *ngIf="!authService.currentUserValue" class="dark-blue-text marginTop" >
                    <h1>{{headerText}}</h1>
                </span>

                <span *ngIf="authService.currentUserValue" class="dark-blue-text marginTop" >
                    <h3>{{headerText}}</h3>
                </span>
            </div>
        </div>
    </div>
    <div class="p-col-3">
        <div class="box">
            <div class="p-field p-grid p-jc-center" style="margin-top: 3vh">
                <div *ngIf="!authService.currentUserValue" >
                    <button pButton type="button" label="Sign Up" class="p-button-info"
                        (click)="handleSignUp()"></button>
                        &nbsp;
                    <button pButton type="button" label="Login" class="p-button-info"
                        (click)="handleLogin()"></button>
                </div>
                <div *ngIf="authService.currentUserValue">
                            <button pButton type="button" label="Logout" class="p-button-info" 
                            (click)="handleLogOut()"></button>
                    <!-- </div> -->
                   
                </div>
            </div>
        </div>
    </div>
</div>
<app-login  [isLoginDisplay] = "isLoginDialogOpen" (onClose)="onLogInDialogClose()" [display]= "isLoginDialogOpen" *ngIf="isLoginDialogOpen" [headerText]="'Login'"></app-login>
<app-genericdialog  [isRegistrationDisplay] = "isRegistrationDisplay" (onResponseMessages) = "showResponseMessages($event)" (onClose)="onRegistrationDialogClose()" [display]= "isRegistrationDisplay" *ngIf="isRegistrationDisplay" [headerText]="'Registration'"></app-genericdialog>