<div class="layout-wrapper container">
    <div #headerDiv class="header">
    <app-header ></app-header>
  </div>
    <div class="layout-menu-container">
      <div class="layout-menu-wrapper">
        <app-menu></app-menu>
      </div>
    </div>
   
  <div class="layout-main body" [style.paddingTop.px]="paddingTop">

    <div class="progress-spinner" *ngIf="httpservice.isLoading | async">
      <p-progressSpinner></p-progressSpinner>
  </div>
  <div class="layout-content" >
    <router-outlet></router-outlet>
  </div>
</div>
  <div class="layout-mask">
  <app-footer class="footer"></app-footer>
  </div>
</div>