<p-toast></p-toast>
<div class="p-fluid">
    <div class="p-grid p-jc-start">
        <div class="p-col-12 p-md-12"></div>
    </div>
    <div class="p-field p-grid">
        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0  p-jc-end" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">{{notificationLabel}}</label>
        <div class="p-col-4 p-md-4 p-jc-start">
             <p-dropdown [options]="notificationTypeSelect" (onChange)="fetchUserGroupNotifications()"
                [(ngModel)]="globalNotificationType"></p-dropdown>
        </div>
    </div>
</div>

<p-table [value]="publicNotifications" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="header">
        <tr>
            <th>Description</th>
            <th>Notification</th>
            <th>Created Date</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-publicNotification> 
        <tr>
            <td>{{publicNotification.notification.description}}</td>
            <!--<td><img [alt]="'No Image'" src="{{publicNotification.fileKey}}" width="32" style="vertical-align: middle" /></td> -->

            <td style="width:12em" *ngIf="publicNotification.notification.notificationType === 'TEXT'">
                {{publicNotification.notification.message.message}}</td>
            <td
                *ngIf="publicNotification.notification.notificationType === 'FILE' && publicNotification.fileFormat !== 'pdf' && publicNotification.fileFormat !== 'xlsx'  && publicNotification.fileFormat !== 'docx'">
                <img width="60vw" alt="No Image" class="hoverPointer" style="vertical-align: middle"  (click)="onImageClick(publicNotification.notification.file.fileKey, publicNotification.fileFormat)"
                [src]="publicNotification.notification && publicNotification.notification.file.fileKey.length > 1000 ? publicNotification.notification.file.fileKey : localImage" /></td>
            <td
                *ngIf="publicNotification.notification.notificationType === 'FILE'  && publicNotification.fileFormat === 'pdf'">
                <img width="10%" alt="No Image" class="hoverPointer" style="vertical-align: middle" src="assets/pdfIcon.png"
                    (click)="onImageClick(publicNotification.notification.file.fileKey, publicNotification.fileFormat)" />
            </td>
            <td
                *ngIf="publicNotification.notification.notificationType === 'FILE' && publicNotification.fileFormat === 'xlsx'">
                <img width="10%" alt="No Image" class="hoverPointer" style="vertical-align: middle" src="assets/excelIcon.png" (click)="onImageClick(publicNotification.notification.file.fileKey, publicNotification.fileFormat)"  /></td>
                <td style="width:12em" 
                *ngIf="publicNotification.notification.notificationType === 'FILE' && publicNotification.fileFormat === 'docx'">
                <img width="10%" alt="No Image" class="hoverPointer" (click)="onImageClick(publicNotification.notification.file.fileKey, publicNotification.fileFormat)"  style="vertical-align: middle" src="assets/docIcon.png" />
            </td>
            <td >{{publicNotification.createdDate | date:'dd/MM/yyyy'}}</td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="Notification" modal="false" [(visible)]="isImage" [style]="{width: '90vw', height: '90vh'}" (onHide)="onImageDialogClose()">

    <div class="p-grid p-jc-center">
        <div class="p-col-12 p-jc-center">
            <img alt="No Image" *ngIf="imageSrc" [src]="imageSrc" width="70%"
                style="vertical-align: middle;padding-left: '30%'" />
            <iframe *ngIf="urlSafe" [style]="{width: '80vw', height: '60vh'}" frameBorder="0" [src]="urlSafe"></iframe>
            <iframe *ngIf="excelUrlSafe" [style]="{width: '80vw', height: '60vh'}" frameBorder="0" [src]="excelUrlSafe"></iframe>
            <iframe *ngIf="docurlSafe" [style]="{width: '80vw', height: '60vh'}" frameBorder="0" [src]="docurlSafe"></iframe>
        </div>
    </div>

    <div class="p-grid p-jc-end">
        <div class="p-col-1">
            <div class="box">
                <button pButton type="button" label="Close" class="p-button-info" (click)="onImageDialogClose()"
                    styleClass="p-button-sm">
                </button>
            </div>
        </div>
    </div>
</p-dialog>