<p-toast></p-toast>
<div>
    <div class="p-d-flex  p-jc-end" *ngIf="isInviteCreate">
        <button pButton type="button" [disabled]="!authService.currentUserValue" label="Invite Members"
            class="p-mb-2 p-mr-2 p-button-info" (click)="showInvitationDialog()"></button>
    </div>
    <p-accordion>
        <p-accordionTab header="Public" [selected]="true">
             <p-table [value]="publicGroups" styleClass="p-datatable-gridlines"  [scrollable]="true" scrollHeight="300px">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:6em">Email</th>
                        <th style="width:6em">Board Name</th>
                        <th style="width:6em">Subject</th>
                        <th style="width:12em">Message</th>
                        <th style="width:4em">Created Date</th>
                        <th style="width:2em">Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-publicGroup>
                    <tr >
                        <td style="width:6em; word-wrap:break-word;">{{publicGroup.inviteeEmail}}</td>
                        <td style="width:6em">{{publicGroup.groupName}}</td>
                        <td style="width:6em; word-break: break-all">
                          {{publicGroup.subject}}
                        </td>
                        <td style="width:12em; word-wrap:break-word;">
                            <span innerHTML="{{ publicGroup.message }}"></span>
                        </td>
                        <td style="width:4em">{{publicGroup.createdDate | date:'dd/MM/yyyy'}}</td>
                        <td style="width:2em">
                            {{publicGroup.status}}
                        </td>
                    </tr>
                </ng-template>
            </p-table> 

        </p-accordionTab>
        <p-accordionTab header="Private">
            <p-table [value]="privateGroups" styleClass="p-datatable-gridlines"  [scrollable]="true" scrollHeight="300px">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:6em">Email</th>
                        <th style="width:6em">Board Name</th>
                        <th style="width:6em">Subject</th>
                        <th style="width:12em">Message</th>
                        <th style="width:4em">Created Date</th>
                        <th style="width:2em">Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-privateGroup>
                    <tr >
                        <td style="width:6em; word-wrap:break-word;">{{privateGroup.inviteeEmail}}</td>
                        <td style="width:6em">{{privateGroup.groupName}}</td>
                        <td style="width:6em; word-break: break-all">
                          {{privateGroup.subject}}
                        </td>
                        <td style="width:12em; word-wrap:break-word;">
                            <span innerHTML="{{ privateGroup.message }}"></span>
                        </td>
                        <td style="width:4em">{{privateGroup.createdDate | date:'dd/MM/yyyy'}}</td>
                        <td style="width:2em">
                            {{privateGroup.status}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-accordionTab>
    </p-accordion>
    <p-dialog header="Invite Members" modal="false" [(visible)]="display" [style]="{width: '80vw'}"
        (onHide)="onDialogClose()">
        <div class="p-fluid">
            <div class="p-field p-grid p-jc-center">
                <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Group type</label>
                <div class="p-col-6 p-md-4">
                    <p-dropdown [options]="groupTypes" (onChange)="onGroupTypeSelect($event)" [(ngModel)]="isPublic">
                    </p-dropdown>
                </div>
                <div class="p-col-6 p-md-6">
                    <p-dropdown [options]="groupsData" (onChange)="onBoardSelect()" [(ngModel)]="invitationModel.groupName">
                    </p-dropdown>
                </div>
            </div>
            <div class="p-field p-grid p-jc-center">
                <label class="p-col-2 p-md-2">To</label>
                <div class="p-col-10 p-md-10">
                    <p-chips [(ngModel)]="invitationModel.emailIdList" addOnTab="true" separator=";"
                        [allowDuplicate]="allowDuplicateEmail" (onAdd)="onEmailAdd($event)"></p-chips>
                </div>
            </div>
            <div class="p-field p-grid p-jc-center">
                <label for="details" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Subject</label>
                <div class="p-col-12 p-md-10">
                    <input type="text" [(ngModel)]="invitationModel.emailSubject" (ngModelChange)="enableorDisableSendButton()" pInputText class="p-inputtext-sm">
                </div>

            </div>
            <div class="p-field p-grid p-jc-center">
                <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Message</label>
                <div class="p-col-12 p-md-10">
                    <!-- <input type="text" [(ngModel)]="invitationModel.emailBody" pInputText class="p-inputtext-sm"> -->
                    <p-editor [(ngModel)]="invitationModel.emailBody" (ngModelChange)="enableorDisableSendButton()" [style]="{'height':'200px'}"></p-editor>
                </div>
            </div>
            <div class="p-field p-grid p-jc-end">
                <div class="p-col-2 p-md-2">
                    <button pButton type="button" [disabled]="isButtonDisabled" label="Send" class="p-button-info"
                        styleClass="p-button-sm" (click)="sendInvitation()"></button>
                </div>
                <div class="p-col-2 p-md-2">
                    <button pButton type="button" label="Close" class="p-button-info" (click)="onDialogClose()"
                        styleClass="p-button-sm">
                    </button>
                </div>
            </div>
        </div>
    </p-dialog>