<div>
    <div class="p-d-flex  p-jc-end">
        <button pButton type="button" label="Add Boards" class="p-mb-2 p-mr-2 p-button-info"
            (click)="showAddBoardDialog()"></button>
    </div>
    <p-accordion>
        <p-accordionTab header="Public" [selected]="true">
            <p-table [value]="publicGroups">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Group ID</th>
                        <th>Group Name</th>
                        <th>Created By</th>
                        <th>Created Date</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-publicGroup>
                    <tr>
                        <td>{{publicGroup.groupId}}</td>
                        <td>{{publicGroup.groupName}}</td>
                        <td>{{publicGroup.createdBy}}</td>
                        <td>{{publicGroup.createdDate}}</td>
                    </tr>
                </ng-template>
            </p-table>
            
        </p-accordionTab>
        <p-accordionTab header="Private">
            <p-table [value]="privateGroups">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Group ID</th>
                        <th>Group Name</th>
                        <th>Created By</th>
                        <th>Created Date</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-privateGroup>
                    <tr>
                        <td>{{privateGroup.groupId}}</td>
                        <td>{{privateGroup.groupName}}</td>
                        <td>{{privateGroup.createdBy}}</td>
                        <td>{{privateGroup.createdDate}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-accordionTab>
    </p-accordion>
    <p-dialog header="Add Boards" [(visible)]="display" [style]="{width: '50vw'}" (onHide)="onDialogClose()">

        <div class="p-grid  vertical-container">
            <div class="p-col p-as-start">
                <div class="box"></div>
            </div>
        </div>

        <div class="p-grid p-fluid p-jc-center">
            <div *ngIf="isCreateError" class="p-invalid">
                {{errorMessage}}
            </div>
            </div>
        <form [formGroup]="form" (ngSubmit)="createGroup()">
            <div class="p-field p-grid p-jc-center">
                <div class="form-group p-col-12">
                    <div class="p-inputgroup">
                        <label class="p-col-3">Group Name</label>
                        <input type="text" pInputText formControlName="groupName" (ngModelChange)="onGroupNameChange()"
                            class="form-control p-inputtext-lg p-col-9"
                            [ngClass]="{ 'p-invalid': submitted && (f.groupName.errors) }" />
                    </div>
                </div>
            </div>
            <div class="p-field p-grid p-jc-center">
                <div class="form-group p-col-12 ">
                    <div class="p-inputgroup">
                        <label class="p-col-3">Group Type</label>
                        <p-dropdown class="form-control p-col-9" formControlName="groupType" [style]="{'width':'35vw'}" [options]="groupTypes"
                            (onChange)="onGroupTypeSelect()"
                            [ngClass]="{ 'p-invalid': submitted && (f.groupType.errors) }"></p-dropdown>

                    </div>
                </div>

            </div>
            <div class="p-grid ">
                <div class="p-col p-as-start">
                </div>
            </div>
            <div class="p-field p-grid p-jc-center">

                <div class="p-mr-2">
                    <p-button styleClass="p-button" label="Submit" class="p-button-info" (click)="createGroup()">
                    </p-button>
                </div>
                <div class="p-mr-2">
                    <p-button styleClass="p-button" label="Close" class="p-button-info" (click)="onDialogClose()">
                    </p-button>
                </div>
            </div>

        </form>
    </p-dialog>

</div>