<p-toast></p-toast>
<div>
    <div class="p-d-flex  p-jc-end" *ngIf="isBoardCreate">
        <button pButton type="button" [disabled]="!authService.currentUserValue" label="Add Boards" class="p-mb-2 p-mr-2 p-button-info"
            (click)="showAddBoardDialog()"></button>
    </div>
    <p-accordion>
        <p-accordionTab header="Public" [selected]="true">
            <p-table [paginator]="isPublicPaginator" [rows]="rowsperPage" [value]="publicGroups" styleClass="p-datatable-gridlines"  [scrollable]="true" scrollHeight="300px">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:8em">Board Name</th>
                        <th style="width:8em">Created Date</th>
                        <th style="width:12em">Board Url</th>
                        <th style="width:2em" *ngIf="isBoardEdit">Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-publicGroup>
                    <tr [style.background-color]="publicGroup.isActive ? 'white' : '#dddddd'">
                        <td style="width:8em">{{publicGroup.groupName}}</td>
                        <td style="width:8em">{{publicGroup.createdDate | date:'dd/MM/yyyy'}}</td>
                        <td style="width:12em; word-break: break-all">
                            <a target="_blank" 
                            href={{localUrl}}{{publicGroup.groupName}}> 
                            {{localUrl}}{{publicGroup.groupName}}
                        </a>
                        </td>
                        <td style="width:2em" *ngIf="isBoardEdit">
                            <div class="p-field p-grid p-jc-center">
                                <div class="p-col-6" *ngIf="isBoardEdit">
                                    <i class="pi pi-pencil hoverPointer" pTooltip="Edit" tooltipPosition="top" (click)="onEditRow(publicGroup)"></i>
                                </div>
                                <div class="p-col-6" *ngIf="isBoardDelete">
                                    
                                    <i class="pi pi-trash hoverPointer" *ngIf="publicGroup.isActive" pTooltip="Delete" tooltipPosition="top" (click)="onDeleteRow(publicGroup)"></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </p-accordionTab>
        <p-accordionTab header="Private">
            <p-table [paginator]="isPrivatePaginator" [rows]="10" [value]="privateGroups" styleClass="p-datatable-gridlines"  [scrollable]="true" scrollHeight="300px">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:8em">Board Name</th>
                        <th style="width:8em">Created Date</th>
                        <th style="width:12em">Board Url</th>
                        <th style="width:2em" *ngIf="isBoardEdit">Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-privateGroup>
                    <tr [style.background-color]="privateGroup.isActive ? 'white' : '#dddddd'">
                        <td style="width:8em">{{privateGroup.groupName}}</td>
                        <td style="width:8em">{{privateGroup.createdDate | date:'dd/MM/yyyy'}}</td>
                        <td style="width:12em; word-break: break-all">
                            <a target="_blank" 
                            href={{localUrl}}{{privateGroup.groupName}}> 
                            {{localUrl}}{{privateGroup.groupName}}
                        </a> 
                        </td>
                        <td style="width:2em" *ngIf="isBoardEdit">
                            <div class="p-field p-grid p-jc-center">
                                <div class="p-col-6" *ngIf="isBoardEdit">
                                    <i class="pi pi-pencil hoverPointer" pTooltip="Edit" tooltipPosition="top" (click)="onEditRow(privateGroup)"></i>
                                </div>
                                <div class="p-col-6" *ngIf="isBoardDelete">
                                    <i class="pi pi-trash hoverPointer" *ngIf="privateGroup.isActive" pTooltip="Delete" tooltipPosition="top" (click)="onDeleteRow(privateGroup)"></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-accordionTab>
    </p-accordion>
    <p-dialog header="Add Board" modal="false" draggable="false"[(visible)]="display" [style]="{width: '50vw'}" (onHide)="onDialogClose(false)">

        <div class="p-grid  vertical-container">
            <div class="p-col p-as-start">
                <div class="box"></div>
            </div>
        </div>

        <div *ngIf="isCreateError" class="p-grid p-fluid p-jc-center">
            <div  class="p-col-12 p-md-4 p-lg-4"></div>
            <div  class="p-col-12 p-md-8 p-lg-8 p-jc-start p-invalid">
                {{errorMessage}}
            </div>
        </div>
        <form [formGroup]="form" (ngSubmit)="createGroup()">

            <div class="p-fluid">
                <div class="p-field p-grid">
                    <label class="p-col-12 p-md-2 p-lg-2">Name</label>
                    <div class="p-col-12 p-md-8 p-lg-8">
                        <input type="text" formControlName="groupName"  (ngModelChange)="onGroupNameChange()" [style]="{'width':'35vw'}"
                        pInputText class="p-inputtext-sm" [ngClass]="{ 'p-invalid': submitted && (f.groupName.errors) }" >
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label for="groupType" class="p-col-12 p-md-2 p-lg-2">Type</label>
                    <div class="p-col-12 p-md-8 p-lg-8">
                        <p-dropdown class="form-control p-col-9" formControlName="groupType" [style]="{'width':'35vw'}"
                        [options]="groupTypes" (onChange)="onGroupTypeSelect()"
                        [ngClass]="{ 'p-invalid': submitted && (f.groupType.errors) }"></p-dropdown>
                    </div>
                </div>
            </div>


            <!-- <div class="p-field p-grid p-jc-start">
                <label class="p-col-3">Board Name</label>
                <div class="p-col-9 p-md-9">
                    <input type="text" formControlName="groupName"  (ngModelChange)="onGroupNameChange()" [style]="{'width':'35vw'}"
                      pInputText class="p-inputtext-sm" [ngClass]="{ 'p-invalid': submitted && (f.groupName.errors) }" >
                </div>
            </div>
            <div class="p-field p-grid p-jc-start">
                <label class="p-col-3">Group Type</label>
                <div class="p-col-9 p-md-9">
                    <p-dropdown class="form-control p-col-9" formControlName="groupType" [style]="{'width':'35vw'}"
                    [options]="groupTypes" (onChange)="onGroupTypeSelect()"
                    [ngClass]="{ 'p-invalid': submitted && (f.groupType.errors) }"></p-dropdown>
                </div>
            </div> -->
            <div class="p-field p-grid p-jc-end">
                <div class="p-col-12 p-md-5 p-lg-2">
                    <button pButton type="button"  label="Submit" class="p-button-info"  styleClass="p-button-sm" (click)="createGroup()"></button>
                </div>
                <div class="p-col-12 p-md-1 p-lg-1">&nbsp;</div>
                <div class="p-col-12 p-md-5 p-lg-2">
                <button pButton type="button" label="Close"  class="p-button-info" (click)="onDialogClose(false)" styleClass="p-button-sm">
                </button>
            </div>
            </div>

        </form>
    </p-dialog>

</div>