<div>
    
    <div class="p-fluid">
        <div class="p-field p-grid p-jc-end">
        <label class="p-col-1  p-jc-end">Select Group</label>
        <div class="p-col-6 p-md-5">
            <p-dropdown [options]="totalGroups" (onChange)="onGroupSelect($event)" [(ngModel)]="mainGroupModel.groupId"></p-dropdown>
        </div>
        <div class="p-col-1"></div>
        <div class="p-col-4 p-md-3 p-jc-end">
            <button pButton type="button" [disabled]="!dataService.loginUser" label="Add Notification" class="p-mb-2 p-mr-2 p-button-info"
            (click)="showAddNotifyDialog()"></button>
        </div>
        </div>
    </div>
    <p-accordion>
        <p-accordionTab header="Public" [(selected)]="isPublicSelect">
            <p-table [value]="publicNotifications" styleClass="p-datatable-gridlines" [scrollable]="true" scrollHeight="300px">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:8em">Notification Text</th>
                        <th style="width:12em">Notification File</th>
                        <th style="width:2em">Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-publicNotification>
                    <tr>
                        <td style="width:8em">{{publicNotification.message}}</td>
                        <td style="width:12em"><img alt="No Image" src="assets/Logo.jpg" width="80%"
                                style="vertical-align: middle" /></td>
                        <td style="width:2em">
                            <div class="p-field p-grid p-jc-center">
                                <div class="p-col-6">
                                    <i class="pi pi-pencil" pTooltip="Edit" tooltipPosition="top" (click)="onEditRow(publicNotification)"></i>
                                </div>
                                <div class="p-col-6">
                                    <i class="pi pi-trash" pTooltip="Delete" tooltipPosition="top" (click)="onDeleteRow(publicNotification)"></i>
                                </div>
                            </div>
                        </td>

                    </tr>
                </ng-template>
            </p-table>
        </p-accordionTab>
        <p-accordionTab header="Private" [(selected)]="!isPublicSelect">
            <p-table [value]="privateNotifications" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:8em">Notification Text</th>
                        <th  style="width:12em">Notification File</th>
                        <th style="width:2em">Edit/Delete</th>
                    </tr>
                </ng-template>
                <!-- <ng-template pTemplate="body" let-privateNotification>
                    <tr>
                        <td>{{privateNotification.message}}</td>
                        <td><img [alt]="privateNotification.fileKey" src="{{privateNotification.fileKey}}" width="32"
                                style="vertical-align: middle" /></td>
                        <td>
                            <div class="p-field p-grid p-jc-center">
                                <div class="p-col-6">
                                    <i class="pi pi-pencil" pTooltip="Edit" tooltipPosition="top" (click)="onEditRow(privateNotification)"></i>
                                </div>
                                <div class="p-col-6">
                                    <i class="pi pi-trash" pTooltip="Delete" tooltipPosition="top" (click)="onDeleteRow(privateNotification)"></i>
                                </div>
                            </div>
                        </td>
                </ng-template> -->
            </p-table>
        </p-accordionTab>
    </p-accordion>
    <p-dialog header="Add Notification" [(visible)]="display" [style]="{width: '80vw'}" (onHide)="onDialogClose(false)">
        <div class="p-grid p-fluid p-jc-center">
            <div *ngIf="isCreateError" class="p-invalid">
                {{errorMessage}}
            </div>
        </div>
        <div class="p-fluid">
            <div class="p-field p-grid">
                <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Group type:</label>
                <div class="p-col-6 p-md-5">
                    <p-dropdown [options]="groupTypes" (onChange)="onGroupTypeSelect($event)" [(ngModel)]="isPublic">
                    </p-dropdown>
                </div>
                <div class="p-col-6 p-md-5">
                    <p-dropdown [options]="groupsData" (onChange)="enableorDisableSubmit()" [(ngModel)]="groupModel.groupId"></p-dropdown>
                    <!-- <p-multiSelect [options]="groupsData" [(ngModel)]="groupModel.groupId"></p-multiSelect> -->
                </div>
            </div>
            <div class="p-field p-grid p-jc-center">
                <label for="details" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Details</label>
                <div class="p-col-12 p-md-10">
                    <textarea [rows]="5" [cols]="60" pInputTextarea [(ngModel)]="groupModel.message"
                        (ngModelChange)="textChanged($event)" aria-describedby="username-help"></textarea>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="files" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Choose file</label>
                <div class="p-col-12 p-md-10">
                    <p-fileUpload name="files" [showUploadButton]="false" [showCancelButton]="false"
                        (onSelect)="onFileUpload($event)" (onRemove)="onFileRmoved()"></p-fileUpload>
                </div>
            </div>

            <div class="p-field p-grid p-jc-end">
                <div class="p-col-2 p-md-2">
                    <button pButton type="button" [disabled]="isButtonDisabled" label="Submit" class="p-button-info"
                        styleClass="p-button-sm" (click)="addNotification()"></button>
                </div>
                <div class="p-col-2 p-md-2">
                    <button pButton type="button" label="Close" class="p-button-info" (click)="onDialogClose(false)"
                        styleClass="p-button-sm">
                    </button>
                </div>
            </div>
        </div>
    </p-dialog>

</div>