<div>
    <div class="p-d-flex  p-jc-end">
        <button pButton type="button" label="Add Notification" class="p-mb-2 p-mr-2 p-button-info"
            (click)="showAddNotifyDialog()"></button>
    </div>
    <p-accordion>
        <p-accordionTab header="Public" [selected]="true">
            <p-table [value]="publicNotifications" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Image</th>
                        <th>Group Name</th>
                        <th>Notificatin Type</th>
                        <th>Message</th>
                        <th>Field Id</th>
                        <th>Created By</th>
                        <th>Created Date</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-publicNotification>
                    <tr>
                        <td><img [alt]="publicNotification.fileKey" src="{{publicNotification.fileKey}}" width="32" style="vertical-align: middle" /></td>
                        <td>{{publicNotification.groupName}}</td>
                        <td>{{publicNotification.notificationType}}</td>
                        <td>{{publicNotification.message}}</td>
                        <td>{{publicNotification.fileId}}</td>
                        <td>{{publicNotification.createdBy}}</td>
                        <td>{{publicNotification.createdDate}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-accordionTab>
        <p-accordionTab header="Private">
            <p-table [value]="privateNotifications" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Image</th>
                        <th>Group Name</th>
                        <th>Notificatin Type</th>
                        <th>Message</th>
                        <th>Created By</th>
                        <th>Created Date</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-privateNotification>
                    <tr>
                        <td><img [alt]="privateNotification.fileKey" src="{{privateNotification.fileKey}}" width="32" style="vertical-align: middle" /></td>
                        <td>{{privateNotification.groupName}}</td>
                        <td>{{privateNotification.notificationType}}</td>
                        <td>{{privateNotification.message}}</td>
                        <td>{{privateNotification.createdBy}}</td>
                        <td>{{privateNotification.createdDate}}</td>
                </ng-template>
            </p-table>
        </p-accordionTab>
    </p-accordion>
    <p-dialog header="Add Notification" [(visible)]="display" [style]="{width: '80vw'}" (onHide)="onDialogClose()">
        <div class="p-grid p-fluid p-jc-center">
            <div *ngIf="isCreateError" class="p-invalid">
                {{errorMessage}}
            </div>
        </div>
        <div class="p-fluid">
            <div class="p-field p-grid">
                <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Group type:</label>
                <div class="p-col-6 p-md-5">
                    <p-dropdown [options]="groupTypes" (onChange)="onGroupTypeSelect($event)" [(ngModel)]="isPublic">
                    </p-dropdown>
                </div>
                <div class="p-col-6 p-md-5">
                    <p-dropdown [options]="groupsData" [(ngModel)]="groupModel.groupId"></p-dropdown>
                    <!-- <p-multiSelect [options]="groupsData" [(ngModel)]="groupModel.groupId"></p-multiSelect> -->
                </div>
            </div>
            <div class="p-field p-grid p-jc-center">
                <label for="details" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Details</label>
                <div class="p-col-12 p-md-10">
                    <textarea [rows]="5" [cols]="60" pInputTextarea [(ngModel)]="groupModel.message"
                        (ngModelChange)="textChanged($event)" aria-describedby="username-help"></textarea>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="files" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Choose file</label>
                <div class="p-col-12 p-md-10">
                    <p-fileUpload name="files" [showUploadButton]="false" [showCancelButton]="false"
                        (onSelect)="onFileUpload($event)" (onRemove)="onFileRmoved()"></p-fileUpload>
                </div>
            </div>
            <div class="p-field p-grid p-jc-end">
                <div class="p-col-4 p-md-2">
                    <button pButton [disabled]="isButtonDisabled" type="button" label="Submit" class="p-button-info"
                        (click)="addNotification()"></button>
                </div>
            </div>
        </div>
    </p-dialog>

</div>