<p-toast></p-toast>
<div>
    <div class="p-fluid">
        <div class="p-field p-grid">
            <label class="p-col-1  p-mb-1 p-md-1 p-mb-md-0  p-jc-end">Select Board: </label>
            <div class="p-col-3 p-jc-start">
                <div class="box">
                    <p-dropdown [options]="totalGroups" (onChange)="onGroupSelect($event)"
                        [(ngModel)]="mainGroupModel.groupId"></p-dropdown>
                </div>
            </div>
            <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0  p-jc-end">Select Notification Type: </label>
            <div class="p-col-4 p-md-3  p-jc-start">
                <p-dropdown [options]="notificationTypeSelect" (onChange)="fetchUserGroupNotifications()"
                    [(ngModel)]="globalNotificationType"></p-dropdown>
            </div>
            <div class="p-col-2 p-jc-end" *ngIf="isNotificationCreate">
                <div class="box">
                    <button pButton type="button" [disabled]="!this.authService.currentUserValue"
                        label="Add Notification" class="p-mb-2 p-mr-2 p-button-info"
                        (click)="showAddNotifyDialog()"></button>
                </div>
            </div>
        </div>
    </div>

    <p-accordion>
        <p-accordionTab header="Public" [(selected)]="isPublicSelect">
            <p-table [value]="publicNotifications" styleClass="p-datatable-gridlines" [scrollable]="true"
                scrollHeight="300px">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:8em">Board Name</th>
                        <th style="width:8em">Description</th>
                        <th style="width:12em">Notification</th>
                        <th style="width:2em" *ngIf="isNotificationEdit">Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-publicNotification>
                    <tr [style.background-color]="publicNotification.isActive ? 'white' : '#dddddd'">
                        <td style="width:8em">{{publicNotification.groupName}}</td>
                        <td style="width:8em">{{publicNotification.notification.description}}</td>
                        <td style="width:12em" *ngIf="publicNotification.notification.notificationType === 'TEXT'">
                            {{publicNotification.notification.message.message}}</td>
                        <!-- <td style="width:12em" *ngIf="publicNotification.notification.notificationType === 'FILE'"><img class="hoverPointer" alt="No Image" (click)="onImageClick('assets/Logo.jpg')" src="assets/Logo.jpg" width="60%"
                                style="vertical-align: middle" /></td> -->
                        <td style="width:12em" 
                            *ngIf="publicNotification.notification.notificationType === 'FILE' && publicNotification.fileFormat !== 'pdf' && publicNotification.fileFormat !== 'xlsx'">
                            <img width="60vw" alt="No Image" class="hoverPointer" style="vertical-align: middle"
                                (click)="onImageClick(publicNotification.notification.file.fileKey, publicNotification.fileFormat)"
                                [src]="publicNotification.notification && publicNotification.notification.file.fileKey.length > 1000 ? publicNotification.notification.file.fileKey : localImage" /></td>
                        <td style="width:12em" 
                            *ngIf="publicNotification.notification.notificationType === 'FILE'  && publicNotification.fileFormat === 'pdf'">
                            <img width="10%" alt="No Image" class="hoverPointer" style="vertical-align: middle" src="assets/pdfIcon.png"
                                (click)="onImageClick(publicNotification.notification.file.fileKey, publicNotification.fileFormat)" />
                        </td>
                        <td style="width:12em" 
                            *ngIf="publicNotification.notification.notificationType === 'FILE' && publicNotification.fileFormat === 'xlsx'">
                            <img width="10%" alt="No Image" class="hoverPointer" (click)="onImageClick(publicNotification.notification.file.fileKey, publicNotification.fileFormat)"  style="vertical-align: middle" src="assets/excelIcon.png" />
                        </td>

                        <td style="width:2em" *ngIf="isNotificationEdit">
                            <div class="p-field p-grid p-jc-center">
                                <div class="p-col-6" >
                                    <i class="pi pi-pencil hoverPointer" pTooltip="Edit" tooltipPosition="top"
                                        (click)="onEditRow(publicNotification)"></i>
                                </div>
                                <div class="p-col-6" *ngIf="isNotificationDelete">
                                    <i class="pi pi-trash hoverPointer" *ngIf="publicNotification.isActive"
                                        pTooltip="Delete" tooltipPosition="top"
                                        (click)="onDeleteRow(publicNotification)"></i>
                                </div>
                            </div>
                        </td>

                    </tr>
                </ng-template>
            </p-table>
        </p-accordionTab>
        <p-accordionTab header="Private" [(selected)]="!isPublicSelect">
            <p-table [value]="privateNotifications" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:8em">Board Name</th>
                        <th style="width:8em">Description</th>
                        <th style="width:12em">Notification</th>
                        <th style="width:2em" *ngIf="isNotificationEdit">Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-privateNotification>
                    <tr [style.background-color]="privateNotification.isActive ? 'white' : '#dddddd'">
                        <td style="width:8em">{{privateNotification.groupName}}</td>
                        <td style="width:8em">{{privateNotification.notification.description}}</td>
                        <td style="width:12em" *ngIf="privateNotification.notification.notificationType === 'TEXT'">
                            {{privateNotification.notification.message.message}}</td>
                        <!-- <td style="width:12em" *ngIf="privateNotification.notification.notificationType === 'FILE'"><img class="hoverPointer" alt="No Image" (click)="onImageClick('assets/Logo.jpg')" src="assets/Logo.jpg" width="60%"
                                style="vertical-align: middle" /></td> -->
                        <td
                            *ngIf="privateNotification.notification.notificationType === 'FILE' && privateNotification.fileFormat !== 'pdf' && privateNotification.fileFormat !== 'xlsx'">
                            <img width="60vw" alt="No Image" style="vertical-align: middle" *ngIf="privateNotification.notification.file.fileKey.length > 1000 " class="hoverPointer"
                                (click)="onImageClick(privateNotification.notification.file.fileKey, privateNotification.fileFormat)"
                                [src]="privateNotification.notification.file.fileKey.length > 1000 ? privateNotification.notification.file.fileKey : assets/image.png" />
                        <!-- <img class="hoverPointer" alt="No Image" (click)="onImageClick('assets/Logo.jpg')"
                            [src]="privateNotification.notification.file.fileKey" width="60%" /> -->
                        </td>
                        <td
                            *ngIf="privateNotification.notification.notificationType === 'FILE'  && privateNotification.fileFormat === 'pdf'">
                            <img width="10%" alt="No Image" style="vertical-align: middle" src="assets/pdfIcon.png" class="hoverPointer"
                                (click)="onImageClick(privateNotification.notification.file.fileKey, privateNotification.fileFormat)" />
                        </td>
                        <td
                            *ngIf="privateNotification.notification.notificationType === 'FILE' && privateNotification.fileFormat === 'xlsx'">
                            <img width="10%" class="hoverPointer" alt="No Image" style="vertical-align: middle"  (click)="onImageClick(privateNotification.notification.file.fileKey, privateNotification.fileFormat)" src="assets/excelIcon.png" />
                        </td>

                        <td *ngIf="isNotificationEdit">
                            <div class="p-field p-grid p-jc-center">
                                <div class="p-col-6"  >
                                    <i class="pi pi-pencil hoverPointer" pTooltip="Edit" tooltipPosition="top"
                                        (click)="onEditRow(privateNotification)"></i>
                                </div>
                                <div class="p-col-6" *ngIf="isNotificationDelete">
                                    <i class="pi pi-trash hoverPointer" *ngIf="privateNotification.isActive"
                                        pTooltip="Delete" tooltipPosition="top"
                                        (click)="onDeleteRow(privateNotification)"></i>
                                </div>
                            </div>
                        </td>
                </ng-template>
            </p-table>
        </p-accordionTab>
    </p-accordion>
    <p-dialog header="Add Notification" modal="false" [(visible)]="display" [style]="{width: '80vw'}"
        (onHide)="onDialogClose(false)">
        <div class="p-grid p-fluid p-jc-center">
            <div *ngIf="isCreateError" class="p-invalid">
                {{errorMessage}}
            </div>
        </div>
        <div class="p-fluid">
            <div class="p-field p-grid">
                <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Group type:</label>
                <div class="p-col-6 p-md-4">
                    <p-dropdown [options]="groupTypes" (onChange)="onGroupTypeSelect($event)" [(ngModel)]="isPublic">
                    </p-dropdown>
                </div>
                <div class="p-col-3 p-md-2">
                    <p-dropdown [options]="groupsData" (onChange)="enableorDisableSubmit()"
                        [(ngModel)]="groupModel.groupId"></p-dropdown>
                </div>
                <label class="p-col-2 p-md-2 p-jc-end">Notification type:</label>
                <div class="p-col-3 p-md-2">
                    <p-dropdown [options]="notificationTypeOpt" (onChange)="onNotificationSelect()"
                        [(ngModel)]="groupModel.notification.notificationType"></p-dropdown>
                </div>

            </div>
            <div class="p-field p-grid p-jc-center">
                <label for="details" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Description</label>
                <div class="p-col-12 p-md-10">
                    <input type="text" [(ngModel)]="groupModel.notification.description" pInputText
                        class="p-inputtext-sm">
                </div>
            </div>
            <div class="p-field p-grid p-jc-center" *ngIf="groupModel.notification.notificationType === 'TEXT'">
                <label for="details" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Details</label>
                <div class="p-col-12 p-md-10">
                    <textarea [rows]="5" [cols]="60" pInputTextarea
                        [(ngModel)]=" this.groupModel.notification.message.message"
                        (ngModelChange)="textChanged($event)" aria-describedby="username-help"></textarea>
                </div>
            </div>

            <div class="p-field p-grid" *ngIf="groupModel.notification.notificationType === 'FILE'">
                <label for="files" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Choose file</label>
                <div class="p-col-12 p-md-10">
                    <p-fileUpload name="files" [showUploadButton]="false" [showCancelButton]="false"
                        (onSelect)="onFileUpload($event)" (onRemove)="onFileRmoved()"></p-fileUpload>
                </div>
            </div>

            <div class="p-field p-grid p-jc-end">
                <div class="p-col-2 p-md-2">
                    <button pButton type="button" [disabled]="isButtonDisabled" label="Submit" class="p-button-info"
                        styleClass="p-button-sm" (click)="addNotification()"></button>
                </div>
                <div class="p-col-2 p-md-2">
                    <button pButton type="button" label="Close" class="p-button-info" (click)="onDialogClose(false)"
                        styleClass="p-button-sm">
                    </button>
                </div>
            </div>
        </div>
    </p-dialog>
    <p-dialog header=" " modal="false" [(visible)]="isImage" [style]="{width: '90vw'}" (onHide)="onImageDialogClose()">
        <div class="p-grid p-jc-center">
            <div class="p-col-12 p-jc-center">
                <img alt="No Image" *ngIf="imageSrc"[src]="imageSrc" width="70%" style="vertical-align: middle;padding-left: '30%'" />
                <iframe *ngIf="urlSafe"  [style]="{width: '80vw', height: '60vh'}" frameBorder="0" [src]="urlSafe"></iframe>
                <iframe *ngIf="excelUrlSafe"  [style]="{width: '80vw', height: '60vh'}" frameBorder="0" [src]="excelUrlSafe"></iframe>
            </div>
        </div>

        <div class="p-grid p-jc-end">
            <div class="p-col-1">
                <div class="box">
                    <button pButton type="button" label="Close" class="p-button-info" (click)="onImageDialogClose()"
                        styleClass="p-button-sm">
                    </button>
                </div>
            </div>
        </div>
    </p-dialog>
</div>